
    <div class='country-title-wrapper'>
      <img src={{flag}} alt={{name}} width='150' height='100' />
      <h2 class='country-title'>{{name}}</h2>
    </div>
    <p class='text'><span class='text-accent'>Capital:</span>&nbsp {{capital}}</p>
    <p class='text'><span class='text-accent'>Population:</span>&nbsp {{population}}</p>
    <p class='text'><span class='text-accent'>Languages:</span>&nbsp {{languages}}</p>
